<div class="container-fluid">

    <div class="row">
        <h3 style="text-align: center;" class="mt-5 ">تغيير كلمة السر   </h3>
    
        <form  [formGroup]="changePasswordFrm" class="col-lg-6  col-md-6 col-sm-12 m-auto" (ngSubmit)="change()" >
            <input style="text-align: right;" placeholder="كلمة السر القديمة" type="password" class="form-control mt-3  mb-3" formControlName="oldPass" >
            <p *ngIf="oldError" class="alert alert-danger">كلمة سر قديمة خاطئة </p>
            <input style="text-align: right;" type="password"minlength="8"[class.is-valid]="changePasswordFrm.get('newPass')?.value==changePasswordFrm.get('rnewPass')?.value&&changePasswordFrm.get('newPass')?.value.length>=8&& changePasswordFrm.get('rnewPass')?.value.length>=8&&changePasswordFrm.controls['newPass'].touched&&changePasswordFrm.controls['rnewPass'].touched" 
             [class.is-invalid]="changePasswordFrm.get('newPass')?.value!=changePasswordFrm.get('rnewPass')?.value&&changePasswordFrm.controls['newPass'].touched&&changePasswordFrm.controls['rnewPass'].touched" placeholder="كلمة السر الجديدة" class="form-control mb-3" formControlName="newPass">
            <input style="text-align: right;"type="password" minlength="8"[class.is-valid]="changePasswordFrm.get('newPass')?.value==changePasswordFrm.get('rnewPass')?.value&&changePasswordFrm.get('newPass')?.value.length>=8&& changePasswordFrm.get('rnewPass')?.value.length>=8&&changePasswordFrm.controls['newPass'].touched&&changePasswordFrm.controls['rnewPass'].touched" 
             [class.is-invalid]="changePasswordFrm.get('newPass')?.value!=changePasswordFrm.get('rnewPass')?.value&&changePasswordFrm.controls['newPass'].touched&&changePasswordFrm.controls['rnewPass'].touched" placeholder="تأكيد كلمة السر الجديدة" class="form-control  mb-3"  formControlName="rnewPass">
           <p *ngIf="changePasswordFrm.get('newPass')?.value!=changePasswordFrm.get('rnewPass')?.value&&changePasswordFrm.controls['newPass'].touched&&changePasswordFrm.controls['rnewPass'].touched" class="alert alert-danger">
               كلمة السر الجديدة غير متطابقة </p>

               <p *ngIf="changePasswordFrm.get('newPass')?.value.length<8&&changePasswordFrm.controls['newPass'].touched||changePasswordFrm.get('rnewPass')?.value.length<8&&changePasswordFrm.controls['rnewPass'].touched" class="alert alert-danger">
                يجب أن تحتوي كلمة السر الجديدة علي 8 أحرف أو أرقام علي الأقل </p>
            <div class="row">
                <input type="submit" [disabled]="changePasswordFrm.invalid||changePasswordFrm.get('newPass')?.value!=changePasswordFrm.get('rnewPass')?.value&&changePasswordFrm.controls['newPass'].touched&&changePasswordFrm.controls['rnewPass'].touched " class="btn btn-warning col-lg-4  col-md-4 col-sm-12 m-auto"value="تغيير كلمة السر">
    
            </div>
        </form>
    </div>
    </div>